<form ng-submit="submit()">
  <fieldset ng-disabled="loading">
    <div class="alert alert-danger" ng-if="error">
      Username or password are invalid.
    </div>
    <div class="alert alert-danger" ng-if="error500">
      A server error occurred while processing your request.
      Please try again later.
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="email" placeholder="Email" ng-model="email">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Password" ng-model="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      <span ng-if="!loading">Log in</span>
      <span ng-if="loading">Loading&hellip;</span>
    </button>
  </fieldset>
</form>
