<div ng-if="error" class="alert alert-danger">
  An error has occurred while retrieving the notes.
</div>
<div ng-if="loading" class="alert alert-info">
  Loading&hellip;
</div>
<div ng-show="!loading && !error">
  <div class="form-group" ng-show="notes.length">
    <input class="form-control" ng-model="keyword" placeholder="Type to search">
  </div>
  <ul class="list-group">
    <li class="list-group-item pointer" ng-repeat="note in filteredNotes = (notes | filter:keyword | orderBy:'modified':true)" ng-click="edit(note)">
      <h4>
        <span class="pull-right">
          {{note.modified|amCalendar}}
        </span>
        {{note.title}}
      </h4>
    </li>
  </ul>
  <div ng-if="!filteredNotes.length" class="alert alert-info">
    No notes found
  </div>
</div>
